#### About dataset

National Football League (NFL)
NFL is one of the most popular sports in the world. combine data is one of the part of the NFL data

In [ ]:
import pandas as pd
import numpy as np

# read in  data
nfl_data = pd.read_csv("nfl.csv")
nfl_data.head()

,combineId,playerId,combineYear,combinePosition,combineHeight,combineWeight,combineHand,nameFirst,nameLast,nameFull,...,hsCountry,combineArm,combine40yd,combineVert,combineBench,combineShuttle,combineBroad,combine3cone,combine60ydShuttle,combineWonderlic
0,10000,19870067,1987,CB,69.8,198,8.50,Michael,Adams,Michael Adams,...,NaN,30.50,4.42,32.0,13.0,4.60,118.0,NaN,11.91,NaN
1,10001,19870154,1987,C,74.8,266,10.25,John,Adickes,John Adickes,...,NaN,30.00,4.97,26.5,25.0,4.60,103.0,NaN,NaN,NaN
2,10002,19870800,1987,FB,71.8,217,9.00,Tommy,Agee,Tommy Agee,...,NaN,30.75,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
3,10003,19870121,1987,C,75.0,279,10.50,David,Alexander,David Alexander,...,NaN,32.75,5.13,27.5,22.0,4.33,105.0,NaN,NaN,NaN
4,10004,19870801,1987,WR,72.1,202,10.00,Lyneal,Alston,Lyneal Alston,...,NaN,33.00,4.64,32.0,7.0,4.52,114.0,NaN,11.85,NaN

In [ ]:
nfl_data.shape

(10080, 35)

In [ ]:
nfl_data.columns

Index(['combineId', 'playerId', 'combineYear', 'combinePosition',
       'combineHeight', 'combineWeight', 'combineHand', 'nameFirst',
       'nameLast', 'nameFull', 'position', 'collegeId', 'nflId', 'college',
       'heightInches', 'weight', 'dob', 'ageAtDraft', 'playerProfileUrl',
       'homeCity', 'homeState', 'homeCountry', 'highSchool', 'hsCity',
       'hsState', 'hsCountry', 'combineArm', 'combine40yd', 'combineVert',
       'combineBench', 'combineShuttle', 'combineBroad', 'combine3cone',
       'combine60ydShuttle', 'combineWonderlic'],
      dtype='object')

In [ ]:
nfl_data.sample(5)

,combineId,playerId,combineYear,combinePosition,combineHeight,combineWeight,combineHand,nameFirst,nameLast,nameFull,...,hsCountry,combineArm,combine40yd,combineVert,combineBench,combineShuttle,combineBroad,combine3cone,combine60ydShuttle,combineWonderlic
4523,14523,20001142,2000,TE,75.90,263,NaN,Carlos,Nuno,Carlos Nuno,...,NaN,NaN,5.03,28.0,23.0,NaN,106.0,NaN,NaN,NaN
7001,17002,20090231,2009,SS,69.88,214,NaN,Jamarca,Sanford,Jamarca Sanford,...,USA,NaN,4.50,33.5,29.0,4.20,116.0,7.02,NaN,NaN
2257,12257,19930862,1993,FB,71.40,206,9.75,Yonel,Jourdain,Yonel Jourdain,...,NaN,32.0,4.62,34.0,15.0,4.20,117.0,NaN,11.36,NaN
181,10181,19870828,1987,OT,76.60,281,9.50,Victor,Perry,Victor Perry,...,NaN,32.0,5.22,27.5,NaN,4.81,99.0,NaN,NaN,NaN
852,10852,19890099,1989,OG,75.30,310,NaN,Pat,Tomberlin,Pat Tomberlin,...,NaN,NaN,5.69,23.0,20.0,4.92,94.0,NaN,NaN,NaN

In [ ]:
# get the number of missing data points per column
missing_values_count = nfl_data.isnull().sum()

missing_values_count

combineId                0
playerId                 0
combineYear              0
combinePosition          0
combineHeight            0
combineWeight            0
combineHand           6488
nameFirst                2
nameLast                 2
nameFull                 2
position                 3
collegeId                2
nflId                 1087
college                  2
heightInches             7
weight                   7
dob                   1589
ageAtDraft            1589
playerProfileUrl      1087
homeCity              2558
homeState             2707
homeCountry           2511
highSchool            5908
hsCity                7753
hsState               5923
hsCountry             5908
combineArm            6803
combine40yd           1058
combineVert           1619
combineBench          2912
combineShuttle        2594
combineBroad          1769
combine3cone          5266
combine60ydShuttle    8307
combineWonderlic      9715
dtype: int64

In [ ]:
#missing value percentage in the columns
round(100*(nfl_data.isnull().sum()/len(nfl_data.index)), 2)

combineId              0.00
playerId               0.00
combineYear            0.00
combinePosition        0.00
combineHeight          0.00
combineWeight          0.00
combineHand           64.37
nameFirst              0.02
nameLast               0.02
nameFull               0.02
position               0.03
collegeId              0.02
nflId                 10.78
college                0.02
heightInches           0.07
weight                 0.07
dob                   15.76
ageAtDraft            15.76
playerProfileUrl      10.78
homeCity              25.38
homeState             26.86
homeCountry           24.91
highSchool            58.61
hsCity                76.91
hsState               58.76
hsCountry             58.61
combineArm            67.49
combine40yd           10.50
combineVert           16.06
combineBench          28.89
combineShuttle        25.73
combineBroad          17.55
combine3cone          52.24
combine60ydShuttle    82.41
combineWonderlic      96.38
dtype: float64

In [ ]:
# remove all the rows that contain a missing value
nfl_data.dropna()

Empty DataFrame
Columns: [combineId, playerId, combineYear, combinePosition, combineHeight, combineWeight, combineHand, nameFirst, nameLast, nameFull, position, collegeId, nflId, college, heightInches, weight, dob, ageAtDraft, playerProfileUrl, homeCity, homeState, homeCountry, highSchool, hsCity, hsState, hsCountry, combineArm, combine40yd, combineVert, combineBench, combineShuttle, combineBroad, combine3cone, combine60ydShuttle, combineWonderlic]
Index: []

[0 rows x 35 columns]

It seems all the rows has null values. So after removing the null vales, there are no rows in the data

In [ ]:
# remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

,combineId,playerId,combineYear,combinePosition,combineHeight,combineWeight
0,10000,19870067,1987,CB,69.8,198
1,10001,19870154,1987,C,74.8,266
2,10002,19870800,1987,FB,71.8,217
3,10003,19870121,1987,C,75.0,279
4,10004,19870801,1987,WR,72.1,202

In [ ]:
# just how much data did we lose
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 35

Columns with na's dropped: 6

#We have lost a lot of data. Another way is the null value imputation.
- <1 % null values - drop the null values
- <7 % null values - impute the null value with central tendency
-10% null values - drop the columns

#Replacement strategy
- continuous data mean, median, linear regression
- Categorical data constant, mode
- Time series data
    - data without trend and seasonality - mean, median, mode, random sample imputation
    - data with trend and without seasonality - Linear interpolation
    - data with trend and seasonality - seasonal adjustment + interpolation

In [ ]:
# replace all NA's with 0
nfl_data.fillna(0)

,combineId,playerId,combineYear,combinePosition,combineHeight,combineWeight,combineHand,nameFirst,nameLast,nameFull,...,hsCountry,combineArm,combine40yd,combineVert,combineBench,combineShuttle,combineBroad,combine3cone,combine60ydShuttle,combineWonderlic
0,10000,19870067,1987,CB,69.8,198,8.50,Michael,Adams,Michael Adams,...,0,30.50,4.42,32.0,13.0,4.60,118.0,0.00,11.91,0.0
1,10001,19870154,1987,C,74.8,266,10.25,John,Adickes,John Adickes,...,0,30.00,4.97,26.5,25.0,4.60,103.0,0.00,0.00,0.0
2,10002,19870800,1987,FB,71.8,217,9.00,Tommy,Agee,Tommy Agee,...,0,30.75,0.00,0.0,15.0,0.00,0.0,0.00,0.00,0.0
3,10003,19870121,1987,C,75.0,279,10.50,David,Alexander,David Alexander,...,0,32.75,5.13,27.5,22.0,4.33,105.0,0.00,0.00,0.0
4,10004,19870801,1987,WR,72.1,202,10.00,Lyneal,Alston,Lyneal Alston,...,0,33.00,4.64,32.0,7.0,4.52,114.0,0.00,11.85,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10075,20496,20190754,2019,S,72.0,209,0.00,Andrew,Wingard,Andrew Wingard,...,0,0.00,4.56,36.5,9.0,4.20,121.0,7.08,0.00,0.0
10076,20497,20190077,2019,EDG,75.0,256,0.00,Chase,Winovich,Chase Winovich,...,USA,0.00,4.59,30.5,18.0,4.11,116.0,6.94,0.00,0.0
10077,20498,20190110,2019,P,74.0,218,0.00,Mitch,Wishnowsky,Mitch Wishnowsky,...,Australia,0.00,4.63,32.5,0.0,0.00,117.0,0.00,0.00,0.0
10078,20499,20190755,2019,S,71.0,205,0.00,Zedrick,Woods,Zedrick Woods,...,0,0.00,4.29,34.5,19.0,4.15,122.0,7.00,0.00,0.0
10079,20500,20191010,2019,S,74.0,212,0.00,Evan,Worthington,Evan Worthington,...,0,0.00,4.63,33.5,17.0,4.37,121.0,7.07,0.00,0.0

In [ ]:
# replace all NA's the value that comes directly after it in the same column,
# then replace all the remaining na's with 0
updated_df = nfl_data.fillna(method = 'bfill', axis=0).fillna(0)

In [ ]:
updated_df.isnull().sum()

combineId             0
playerId              0
combineYear           0
combinePosition       0
combineHeight         0
combineWeight         0
combineHand           0
nameFirst             0
nameLast              0
nameFull              0
position              0
collegeId             0
nflId                 0
college               0
heightInches          0
weight                0
dob                   0
ageAtDraft            0
playerProfileUrl      0
homeCity              0
homeState             0
homeCountry           0
highSchool            0
hsCity                0
hsState               0
hsCountry             0
combineArm            0
combine40yd           0
combineVert           0
combineBench          0
combineShuttle        0
combineBroad          0
combine3cone          0
combine60ydShuttle    0
combineWonderlic      0
dtype: int64

In [ ]:
nfl_data.isnull().sum()

combineId                0
playerId                 0
combineYear              0
combinePosition          0
combineHeight            0
combineWeight            0
combineHand           6488
nameFirst                2
nameLast                 2
nameFull                 2
position                 3
collegeId                2
nflId                 1087
college                  2
heightInches             7
weight                   7
dob                   1589
ageAtDraft            1589
playerProfileUrl      1087
homeCity              2558
homeState             2707
homeCountry           2511
highSchool            5908
hsCity                7753
hsState               5923
hsCountry             5908
combineArm            6803
combine40yd           1058
combineVert           1619
combineBench          2912
combineShuttle        2594
combineBroad          1769
combine3cone          5266
combine60ydShuttle    8307
combineWonderlic      9715
dtype: int64

In [ ]:
nfl_data.heightInches.fillna(nfl_data.heightInches.mean(), inplace = True)

In [ ]:
nfl_data.isnull().sum()

combineId                0
playerId                 0
combineYear              0
combinePosition          0
combineHeight            0
combineWeight            0
combineHand           6488
nameFirst                2
nameLast                 2
nameFull                 2
position                 3
collegeId                2
nflId                 1087
college                  2
heightInches             0
weight                   7
dob                   1589
ageAtDraft            1589
playerProfileUrl      1087
homeCity              2558
homeState             2707
homeCountry           2511
highSchool            5908
hsCity                7753
hsState               5923
hsCountry             5908
combineArm            6803
combine40yd           1058
combineVert           1619
combineBench          2912
combineShuttle        2594
combineBroad          1769
combine3cone          5266
combine60ydShuttle    8307
combineWonderlic      9715
dtype: int64

In [ ]:
#It will drop na from subset of columns>>"combineBench", "combine40yd"
#will have no null values and corresponding rows will be dropped
updated_df = nfl_data.dropna(subset =["combineBench", "combine40yd"])

In [ ]:
updated_df.columns

Index(['combineId', 'playerId', 'combineYear', 'combinePosition',
       'combineHeight', 'combineWeight', 'combineHand', 'nameFirst',
       'nameLast', 'nameFull', 'position', 'collegeId', 'nflId', 'college',
       'heightInches', 'weight', 'dob', 'ageAtDraft', 'playerProfileUrl',
       'homeCity', 'homeState', 'homeCountry', 'highSchool', 'hsCity',
       'hsState', 'hsCountry', 'combineArm', 'combine40yd', 'combineVert',
       'combineBench', 'combineShuttle', 'combineBroad', 'combine3cone',
       'combine60ydShuttle', 'combineWonderlic'],
      dtype='object')

In [ ]:
nfl_data.isna().sum()

combineId                0
playerId                 0
combineYear              0
combinePosition          0
combineHeight            0
combineWeight            0
combineHand           6488
nameFirst                2
nameLast                 2
nameFull                 2
position                 3
collegeId                2
nflId                 1087
college                  2
heightInches             0
weight                   7
dob                   1589
ageAtDraft            1589
playerProfileUrl      1087
homeCity              2558
homeState             2707
homeCountry           2511
highSchool            5908
hsCity                7753
hsState               5923
hsCountry             5908
combineArm            6803
combine40yd           1058
combineVert           1619
combineBench          2912
combineShuttle        2594
combineBroad          1769
combine3cone          5266
combine60ydShuttle    8307
combineWonderlic      9715
dtype: int64